__pycache__/
notebooks/
data/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.git/
.DS_Store
*.sqlite3
*.log


# allow the model to pass through:
!news_sentiment_model/**
!news_sentiment_model/data/**
!news_sentiment_model/metadata/**
!news_sentiment_model/stages/**
